body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fad2;
}

.nice-red {
    color: #e11e4b;
}

.medium-blue {
    color: #199de6;
}

.dark-blue {
    color:#0414fb;
}

.green {
    color:#00cb2c;
}
.orange {
    color:#e38300;
}

h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size:70px;
}

h2 {
    font-family: 'Turret Road', cursive;
    font-size:44px;
}

.spin-the-wheel {
    background-image: url(images/wheel.svg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:contain;
    padding:100px 0;
}
.spin-button {
    background-color:#FFF;
}
.italic {
    font-family: 'Dynalight', cursive;
    font-size:1.8rem;
    padding-left:0.2rem;
}

#your-move div {
    font-size:2.6rem;
    display:inline-block;
    margin:10px;
}

.limb {
    font-family: 'Lobster', cursive;
}

.target-color {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    line-height: 140px;
    width:150px;
    height:150px;
    border-radius: 150px;
    background: #ebdc14;
}

.target-color-yellow {
    background: #ebdc14;
}

.target-color-blue {
    background: #199de6;
}
.target-color-red {
    background: #fa2905;
}
.target-color-green {
    background: #00cb2c;
}
.your-calculation {
    color:#f126d5;
    font-size:2.3rem;
}
.number {
    /*color:#333;*/
    font-family: 'Audiowide', cursive;
}

#start-timer {
    margin-top:2rem;
    font-size:3rem;
}

.timer-number {
    font-family: 'Faster One', cursive;
    color:#c00af5;
    font-size: 11rem;
}

.the-answer {
    font-size:5rem;
    margin-bottom:2rem;
}

.spin-again {
    font-size:2rem;
}

.invisible {
    visibility: hidden;
}

.spinning {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
